<%- include('./includes/head.ejs')%>
</head>
<body class="aa">
<%- include('./includes/nav.ejs')%>

    


    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <main class="form-signin mt-5 text-center container border border-5">
                    <form>
                        <h1 class="h3 mb-3 mt-2 fw-normal">Currency Converter</h1>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">From:</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">To:</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Value:</label>
                        </div>
                        <div class="mb-2">
                            <label for="date">Select Date:</label>
                            <input type="date" id="date">
                        </div>
                        <button class="w-100 mb-3 btn btn-lg btn-primary" type="submit">Convert</button>
                    </form>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>{{India}}</td>
                                <td>{{1}}</td>
                            </tr>
                            <tr>
                                <td>{{USA}}</td>
                                <td>{{83.5}}</td>
                            </tr>
                        </tbody>
                    </table>
                  
                </main>
            </div>
            <div class="col text-center">
                <h1 class="h3 mb-3 mt-2 fw-normal">Graph</h1>
            </div>
        </div>
    </div>
    <%- include('./includes/end.ejs')%>



    